html{
    background-color: #5C5AD8;
}

body{
    margin: 20px;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

nav{
    display: flex;
    align-items: center;
}

#icons{
    position: absolute;
    right: 3.3%;
}

#icons img{
    width: 64px;
    height: 64px;
}

h1{
    font-family: 'Truculenta', sans-serif;
    color: #0D1317;
    font-size: 50px;
    margin-left: 20px;
}

nav ul{
    display:flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    list-style: none;
}

#presentation{
    margin: auto;
}

#presentation-block{
    display: flex;
}

#presentation-block-image{
    width: 30%;
    padding:10px;
    display: block;
    margin: auto;
}

#presentation-block-infos{
    padding :20px;
    width: 45%;
    margin:auto;
}

#presentation-block-image img{
    border-radius: 20%;
    width: 300px;
    display: block;
    margin: auto;
}

.presentation-texte {
    text-align: justify;
    font-size: 27px;
    display: flex;
}

.wrapper{
    display:grid;
    margin:20px;
    padding: 20px;
    background-color: #9D9CE8;
    border-radius: 10%;
    flex: 1;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#buttons{
    text-align: center;
    padding: 10px;
    border-radius: 30%;
    margin: auto;
}

h3{
    text-align: center;
}

.logo-projet{
    display: flex;
    justify-content: center;
}

.logo-projet img{
    width: 100px;
    height: 100px;
}

.container-contenu p{
    text-align: center;
    color: white;
}

h3{
    color: white;
    font-size: 30px;
}

.desc-projet p{
    text-align: center;
    color: white;
    font-size: 20px;
}

.button{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.button p{
    font-family: Arial, serif;
    font-size:21px;
    font-weight:bold;
}

.myButton {
    background-color:#8D8BE4;
    border-radius:25px;
    border:2px solid #101D42;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:21px;
    padding: 5px 10px;
    font-weight:bold;
    text-decoration:none;
}
.myButton:hover {
    background-color:transparent;
}
.myButton:active {
    position:relative;
    top:1px;
}

footer{
    padding : 10px;
    background-color: #101D42;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 1081px) {

    #presentation-block-infos{
        margin:auto;
        width : 80%;
    }

    .wrapper{
        justify-self: center;
        width: 50%;
    }

    #container{
        grid-template-columns: 3fr;
    }

    h1 {
        font-size: 60px;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 40px;
    }

    .presentation-texte{
        font-size: 30px;
    }

    #presentation-block{
        display: block;
    }

    #presentation-block-image{
        width: 80%;
    }

    .desc-projet p {
        font-size: 40px;
    }

    .logo-projet img{
        width: 150px;
        height: 150px;
    }

    .myButton{
        font-size: 40px;
    }
}